body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator {
    display: flex;
    flex-direction: column;
}

.calculator label {
    margin-top: 10px;
}

.calculator input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    border: none;
    background-color:yellowgreen;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color:cadetblue;
}

p {
    margin-top: 20px;
    font-size: 18px;
}